.widgets_demo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.controls {
    display: flex;
    color: white;

    input {
        &:hover {
            cursor: pointer;
        }
    }

}